streamlit==1.32.0
langchain==0.1.14
langchain-openai==0.0.8
langchain-community==0.0.38
openai==1.109.1

pandas==2.2.2
numpy==1.26.4

tavily-python==0.3.3

tenacity==8.5.0
packaging==23.2
protobuf==4.25.3
python-dotenv==1.2.2

requests==2.33.0
httpx==0.28.1